.main {
    max-width: 70rem;
    margin: auto;
}

.main h2{
    margin-left: 4rem;
    font-size: 30px;
    background: -webkit-linear-gradient(left, #9b35d9, #dfccee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sections {
    margin: 2rem 4rem 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 2500px;
}

.sections .cards {
    max-width: 30rem;
    padding: 1.5rem;
    border: 2px solid #a964e8;
    border-radius: 20px;
}

.sections .cards p {
    line-height: 1.8rem;
}

.sections .cards:hover {
    cursor: pointer;
    background-color: #a964e8;
    color: white;
    transition: 0.5s ease-in-out;
}

.main h5 {
    display: inline-block;
    margin-left: 4rem;
    padding: 10px;
    background-color: #d9c4ef;
    border-radius: 15px;
}

.main h5:hover {
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: #a964e8;
    color: white;
}

@media (max-width: 750px) {
    .sections {
        display: flex;
        flex-direction: column;
        margin: 2rem 1.5rem;
    }

    .main h2,
    .main h5 {
        margin: 0 1.7rem;
    }
}