.main {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  border-bottom: 1px solid #f7e3ff;
  margin-bottom: 1.5rem;
}

.heading {
  margin-left: 6rem;
  font-size: 20px;
  background: -webkit-linear-gradient(left, #f3e2fc, #7703da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation {
  margin: 2.5rem 6rem 0 0;
}
.navigation a {
  padding: 7px;
  border-radius: 10px;
}

.navigation a:hover {
  background-color: #a964e8;
  color: white;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 750px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .heading {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .navigation {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}