.main {
  max-width: 50rem;
  margin: 2rem auto;
}

.main * {
  line-height: 25px;
  word-spacing: 4px;
}

.main h1 {
  line-height: 30px;
  word-spacing: 4px;
  font-size: 2rem;
}

@media (max-width: 850px) {
  .main {
    margin: 2rem;
  }
}