.main {
    max-width: 62rem;
    margin: 0 auto 3rem;
}

.main .title {
    font-size: 30px;
    background: -webkit-linear-gradient(left, #9b35d9, #dfccee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .sections {
    padding: 0 1rem;
}

@media (max-width: 750px) {
    .main {
        margin-left: 1.7rem;
    }
}