.main {
    max-width: 55rem;
    margin: auto;
}

.main * {
    word-spacing: 2px;
    line-height: 30px;
}

.main h1 {
    font-size: 2rem;
    background: -webkit-linear-gradient(left, #9744d7, #d7bdee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main b {
    border-bottom: 2px solid #a964e8;
    font-weight: normal;
    border-radius: 3px;
}

.main b:hover {
    background-color: #d1b3ee;
    cursor: pointer;
}

.main ul {
    list-style: circle;
}

@media (max-width: 750px) {
    .main {
        padding: 0 2rem 1rem;
    }
}
